<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>
<body data-page="admin-page">
    <a href="/logout" class="btn btn-secondary btn-lg">Logout</a>
    <div class="timetables-container">
        <div class="teachers-timetable">
            <h2 class="teacher-heading">Teachers Timetable</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Course</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Save edits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (teachers && teachers.length > 0) { %>
                            <% teachers.forEach(teacher => { %>
                            <tr class="teacher-list" data-id="<%= teacher._id %>"> 
                                <!-- so each teacher row has a data-id attribute with their MongoDB ID-->
                                <td class="name-name"><%= teacher.name %></td>
                                <td><%= teacher.email %></td>
                                <td>
                                <% if (teacher.course && teacher.course.length > 0) { %>
                                    <% teacher.course.forEach(course => { %>
                                    <span class="name-course"><%= course.name %></span><br>
                                    <% }) %>
                                <% } else { %>
                                    <span>No course</span>
                                <% } %>
                                </td>  
                                <td>
                                    <button class="edit-btn"><i class="fas fa-pen"></i></button> 
                                </td>
                                <!-- make sure each trash button includes the correct data-id -->
                                <td><button><i class="fas fa-trash trash-btn" data-id="<%= teacher._id %>"></i></button></td>
                                <!-- apply save-btn class to the button -->
                                <td><button class="save-btn" style="display: none;"> <i class="fas fa-save"></i></button></td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="students-timetable">
            <h2 class="student-heading">Students Timetable</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Course</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Save edits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (students && students.length > 0) { %>
                            <% students.forEach(student => { %>
                            <tr class="student-list" data-id="<%= student._id %>">
                                <td class="name-name"><%= student.name %></td>
                                <td><%= student.email %></td>
                                <td>
                                <% if (student.course && student.course.length > 0) { %>
                                    <% student.course.forEach(course => { %>
                                    <span class="name-course"><%= course.name %></span><br>
                                    <% }) %>
                                <% } else { %>
                                    <span>No course</span>
                                <% } %>
                                </td> 
                                <td>
                                    <button class="edit-btn"><i class="fas fa-pen"></i></button> 
                                </td>
                                <td><button><i class="fas fa-trash trash-btn" data-id="<%= student._id %>"></i></button></td>
                                <td><button class="save-btn" style="display: none;"><i class="fas fa-save"></i></button></td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="course-timetable">
            <h2 class="course-heading">Courses</h2>
            <form id="course-form">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">Name</th>
                            <th scope="col">Add</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" id="new-course-name" class="form-control" required></td>
                                <td><button type="submit" class="btn saved-btn"><i class="fas fa-plus"></i></button></td>  
                            </tr>
                            <!-- to display existing courses -->
                            <% if (courses && courses.length > 0) { %>
                                <% courses.forEach(course => { %>
                                    <tr>
                                        <td><%= course.name %></td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr><td colspan="3">No courses available</td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>